.greenpeace-paragraph-example{
    color: #808080;
    font-family: whitneybold;
    font-size: 1.125em;
  }
  .greenpeace-vegetables{
    font-family: whitneybold;
    span{
      font-family: whitneymedium;
    }
  }