/* .img_bg_optionpopup */
.img_bg_optionpopup{
  padding: 18px;
  /* .bg-image-products */
  .bg-image-products{
    background: url("../img/img-greenpeace/products.png");
    background-size: cover;
    height: 105px;
    .text_description_firstchallenge{
      ul{
        margin-top: 0px;
        margin-bottom: 0px;
        list-style: none;
        padding: 0px;
        li{
          text-align: center;
          display: inline-block;
          a{
            &:focus{
              outline: none;
            }
            span{
              width: 180px;
              display: block;
            }
          }
        }
      }
    }
  }
  /* /.bg-image-products */
  .bg_img_garden{
    background: url("../img/img-greenpeace/urban_garden.png");
    background-size: cover;
    height: 105px;
    span{
      display: inline-block;
      text-align: center;
      width: 240px;
    }
  }
  .bg_img_agriculture{
    background: url("../img/img-greenpeace/local_market.png");
    background-size: cover;
    height: 105px;
    span{
      display: inline-block;
      width: 210px;
    }
  }
  .text_description_firstchallenge{
    color: #FFF;
    font-family: whitneybold;
    background: rgba(50,50,50,0.9);
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    top: 60px;
  }
}
/* /.img_bg_optionpopup */
