/* .text_firstchallenge_title */
.gp-profile-activities{
  border-radius: 52px;
  width: 61px;
  margin-top: 7px;
}
.text_firstchallenge_title{
  color: #71A52C;
  font-size: 1.3em;
  margin-top: 17px;
  p{
    font-size: 0.7em;
    margin-top: 4px;
  }
}
/* /.text_firstchallenge_title */
.img_gp_option{
  border-top: 1px solid #B2B2B2;
  .img_whell{
    img{
      width: 50px;
    }
  }
  .img_energy{
    margin-top: 14px;
    img{
      width: 46px;
    }
  }
  .vegetables_img{
    margin-top: 5px;
    img{
      width: 53px;
    }
  }
  .watter_img{
    margin-top: 5px;
    img{
      width: 35px;
    }
  }
}
.greenpeace-slider-option{
  border-top: 1px solid #B2B2B2;
  overflow: scroll;
  ul{
    display: inline-flex;
    list-style: none;
    li{
      margin-left: 40px;
    }
    .input-48{
      margin-left: -32px;
    }
  }
}
.images_greenpeace_article{
  img{
    border-radius: 10px;
  }
  .garden_greenpeace{
    img{
      width: 157px;
    }
    .description-sprite-people{
      font-family: "";
    }
  }
}
#pines{
  height: 0px;
  text-align: center;
  font-size: 2.7em;
  line-height: 56px;
  color: #B2B2B2;
}
#pines:target{
  height: 65px;
  transition:all 1.4s ease;
}

span.tooltip {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0px;
  font-size: 14px;
  text-align: center;
  color: rgb(113,165,44);
  background: rgb(255, 255, 255);
  border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 50px;
  text-shadow: none;
  box-shadow: none;
  margin: 7px 5px;
}

span.tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  top: 5px;
  left: -14px;
}