/* .greenpeace-header-bg-gray */
.greenpeace-header-bg-gray{
  background: #C2C2C2;
  height: 50px;
  line-height: 50px;
}

.description-sprite-people_3{
  
  font-size: 0.9em;
}

.garden_1{
  img{
    height: 95px;
  }
}
.description-sprite-people_3{
  
  font-size: 1em;
}
