/* ..greenpeace-form */
  .greenpeace-password-forget{
    color: #999999;
    font-size: 1em;
    font-family: WhitneyMedium;
    text-decoration: none;
  }
/* /.greenpeace-form */
.login-facebook{
  background: #3C5A81 !important;
  border-color: #3C5A81 !important;
  color: #FFFFFF;
  font-size: 1em;
  font-family: WhitneyMedium;
  text-transform: inherit;
  .icon-greenpace-facebook{
    float: left;
    font-size: 1.3em;
  }
}
.greenpeace-new_greenpeace-option{
  color: #323232;
  font-size: 1em;
  font-family: WhitneyMedium;
  p{
    margin-top: 5px;
    a{
      color: #323232;
      text-decoration: underline;
    }
  }
}