.bg-red{
  background: #DD5845;
  color: #FFF;
  height: 25%;
    line-height: 150px;
}

.bg-yellow{
  background: #F8B036;
  color: #FFFFFF;
  height: 25%;
  line-height: 150px;
}
.bg-green{
  background: #8BBF4A;
  color: #FFFFFF;
  height: 25%;
    line-height: 150px;
}
.bg-blue{
  background: #66A9DD;
  color: #FFFFFF;
  height: 25%;
    line-height: 150px;
}

.icon-greenpeace-meta{
  font-size: 4.3em;
  margin-top: 40px;
  display: block;
}
.text-mobility-meta{
  font-size: 1.5em;
}

