.greenpeace-img-publication_1{
  height: 410px;
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.greenpeace-mexico_1{
  font-size: 1.4em;
  color: #656565;
  font-weight: 100;
  font-family: WhitneyMedium;
  letter-spacing: 1px;
  line-height: 33px;
  span{
    font-size: .7em;
    margin-top: -10px;
    display: block;
  }
}