/* .greenpeace-bg-green-new */
.greenpeace-bg-green-new{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a800+0,00ca00+100 */
	background: #00a800; /* Old browsers */
	background: -moz-linear-gradient(top,  #00a800 0%, #00ca00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a800), color-stop(100%,#00ca00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00a800 0%,#00ca00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00a800 0%,#00ca00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00a800 0%,#00ca00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00a800 0%,#00ca00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a800', endColorstr='#00ca00',GradientType=0 ); /* IE6-9 */
  	line-height: 30px;
	height: 30px;
	font-family: WhitneyBold;
	color: #FFFFFF;
}
/* /.greenpeace-bg-green-new */

.news-bg{
	float: left;
    padding-right: 10px;
  margin-top: 5px;
}	
.news-title{
	color: #008000;
	font-size: 1.1em;

	a{
		i{
			color: #008000;
			font-size: 1.1em;
		}
	}
}
.gp-date-news{
	color: #525252;
	margin: 0px;
	font-size: 0.8em;
    font-weight: 900;
}
.dotted-news{
	border-bottom: 1px dotted #525252;
	padding-bottom: 10px;
  	padding-top: 10px;
}