.news-detail-bg{
	background: #222934;
	padding-top: 5px;
}
.news-title-detail{
	color:#01CC00;
	font-size: 1.4em;
}
.gpd-date-news-detail{
	color:#fff;
  	font-size: 0.75em;
}
.news-pic-detail{
	width: 100%;
  margin-top: 30px;
}