.greenp-text{
  color: #7F7F7F;
  font-family: WhitneyMedium;
  font-size: 1em;
}
.greenpeace-email-lost{
  input{
    font-family: WhitneyMedium;
  }
  button{
    font-family: WhitneyBold;
    text-transform: uppercase;
  }
}