.energy_bg{
	background: #F2F2F2;
}
.fig_challenge{
	background: #fff;
}

.bg-container-article{
	img{
		width: 100%;
		border-radius: 5px;
	}
}
.gp-greenpeace{
	display: inline-block;
	float: left;
}
.gp-mexico{
	display: block;
    float: left;
    padding-top: 10px;
}