.grenpeace_button_icon_search span {
    color: #7F7F7F;
    margin: 3px;
    margin-left: 50px;
    font-size: 1.2em;
    display: block;
    position: absolute;
  }
  .greenpeace_box_search{

    font-size: .94em;
    border-radius: 7px;
    border: 0;
    display: block;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    width: 73%;
    padding: 4px 10px 6px 74px;
  }
.bg_gray-container{
  color: #65A327;
  font-size: 1em;
  background: #E5E5E5 !important;
  height: auto;
  
}

/* .form_line_activity */
.form_line_activity{
  .icon-greenpeace-podium_12{
    color: #E09D29;
    display: block;
    font-size: 3em;
    margin-top: 14px;
  }
  .icon-greenpeace-watter1{
    color: #0085CA;
    display: block;
    font-size: 3em;
    margin-top: 14px;
  }
}
/* /.form_line_activity */

.unfollow-red{
  background: #DD5845;
  color:#fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-friends {
    background-color: #fff;
    margin: 10px 0;
    
  }
.name-friends {
      font-family: whitneybold;
      font-weight: 100;
      color: #65A327;
      margin: 0;
    }
span.gp-name-description{
  font-size: 1em;
  color: #65A327;
}