.greenpeace-header-bg{
  background: #71A42C;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  h3{
    color: #FFFFFF;
    font-family: WhitneyBold;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
  }
}
.greenpeace-text-profile{
  color: #71A42C;
  font-family: WhitneyBold;
  text-transform: uppercase;
  letter-spacing: 1px;
  .slider-img-greenpeace{
    font-size: 0.813em;
    letter-spacing: 1px;
  }
}
.greenpeace-options-profile-slider{
  margin-left: 35px;
}
.greenpeace-next-profile{
  font-family: WhitneyBold;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}