/* .images_bg_company */
  .greenpeace-form-line_1{
    border-bottom: 1px solid #FFF;
    }
    .icon-greenpeace-party_content{
      color: rgba(255, 255, 255, 0.4);
      font-size: 5em;
    }
/* /.images_bg_company */