.gp-multimedia{
	height: 190px;
	position: relative;
	background: url("../img/img-greenpeace/multimedia-bg.png") center no-repeat;
	background-size:cover;
}
.gp-multimedia-title{
	position: absolute;
    left: 25px;
    width: 120px;
    height: 170px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
	font-size:1.3em;
    span{
    	color:#00C900;
    	font-size:1.4em;
    }
}
.gp-multimedia-nav{
	background: #313C48;
	color: #fff;
	.gp-mult-nav{
		margin-top:10px;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			display: inline;
			&:first-child{
				a{
					color: #fff;
				}
			}
			&:last-child{
				a{
					color: #bdc3d1;
				}
			}
		}
	}
  	.gp-small-p-7{
	  font-size: .7em;
	}
	.gp-small-p-8{
	  font-size: .8em;
	}
	.gp-margin-left15{
	  margin-left: 15px;
	}
  	#tabber13{
	  background-color: transparent;
	  height: 325px;
	  .hr-media{
		height: 2px;
		margin: 0;
	  }
	  #ul-tabs-navigation{
		position: inherit;
		height: 28px;
		a {
		  display: -webkit-inline-box;
		  float: left;
		  line-height: 21px;
		  background-color: #EDF3FF;
		  color: #000;
		  border: 0;
		  line-height: 20px;
		  border-radius: 7px 7px 0 0;
		  font-size: .9em;
		  padding: 4px 10px;
		}
		a.current{
		  background-color: #727886;
		}
	  }
	  #tabber13_div_0{
		background: #212934;
		overflow: auto;
	  }
	  #tabber13_div_1{
		background: #212934;
		overflow: auto;
	  }
	}
}
.gp-mult-videos{
	height: 355px;
	color: #fff;
}

.gp-multimedia-social{
	height:30px;
	width: 90%;
	color: #ccc;
	background: #FBFBFB;
	padding:5px;
}
h4.gp-mlastupdates{
	font-size:1.3em;
	margin:0px;
}

.nav-tabscontent{
  background-color: #5B616E;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: .9em;
  .gp-input{
	width: 100%;
	border: 1px solid #8D8D8D;
	background-color: #D0D1D5;
  }
  .gp-a-showlist{
	background-color: #282D38;
	font-size: .74em;
	padding: 2px 6px;
	display: block;
	text-align: right;
  }
}
.cont-multimedia{
  width: 73px;
  margin: 15px 5px 0 0;
  float: left;
  img{
	background-color: #383E49;
	width: 73px;
	height: 55px;
  }
  .p-media-name{
	margin: 0;
	font-size: .8em;
	height: 30px;
	width: 73px;
	overflow: hidden;
  }
  .p-media-type{
	margin: 0;
	font-size: .6em;
	width: 73px;
	height: 12px;
	color: #989FAD;
	overflow: hidden;
  }
}