.bg-donation{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ebf6fb+51,eef7e5+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ebf6fb 51%, #eef7e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(51%,#ebf6fb), color-stop(100%,#eef7e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ebf6fb 51%,#eef7e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ebf6fb 51%,#eef7e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ebf6fb 51%,#eef7e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ebf6fb 51%,#eef7e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef7e5',GradientType=0 ); /* IE6-9 */
height: 350px;
}

.gp-donation-green-1{
	color: #01CC00;
}
.gp-donation-green-2{
	color: #006733;
}
.gpfzg1{
	font-size:2.3em;
}
.gpfzg2{
	font-size:1.5em;
}
.gpfzg3{
	font-size:1.8em;
}
input[type="text"].gp-dnt-text{
	width: 95%;
	border-radius: 5px;
	background: transparent;
	padding: 7px;
	height: 20px;
	border: 1px solid #CFCFCF;
	color: #666;
	font-size: 0.9em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.bg-donation-footer{
	background: #01ADE2;
	height: 350px;
	color: #fff;
	font-size:2em;
}