.gp-voluntaries{
	height: 118px;
	position: relative;
	background: url("../img/img-greenpeace/voluntarios-bg.png") center no-repeat;
	background-size:100%;
}


.gp-voluntaries-img{
	width: 100%;
}
.voluntaries-new-grey{
	background: #EBEEF1;
	p{
		margin:5px;
		padding-bottom: 10px;
	}
}