/* .option_icons_gp */
.option_icons_gp{
  font-size: 3em;
  .icon-greenpeace-whell_1{
    color: #D42E28;
  }
  .icon-greenpeace-ray{
    color: #E19F29;
  }
  .icon-greenpeace-vegetables_1{
    color:#8BBF4A;
  }
  .icon-greenpeace-watter_1{
    color: #0087CB;
  }
}
/* /.option_icons_gp */
.bg-green-container_1{
  color: #FFF;
  background: #8BBF4A;
  font-family: WhitneyMedium;;
  font-size: 1.125em;
  height: auto;
  h3{
    margin-bottom: 10px;
  }
  .icon-greenpeace-party{
    font-size: 4em;
    position: absolute;
  }
}
.bg_green-container{
  .text-container {
    font-size: 1.125em;
  }
  .icon-greenpeace-party{
    font-size: 4em;
    position: absolute;
  }
}
.notification-mglft{
  margin-left: 18px;
}
span.tooltip_green {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0px;
  font-size: 14px;
  text-align: center;
  color: #D8E7C1;
  background: #65A327;
  border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 50px;
  text-shadow: none;
  box-shadow: none;
  margin: 41px 52px;
}

span.tooltip_green:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #65A327 transparent transparent;
  top: 5px;
  left: -14px;
}
span.tooltip_white {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0px;
  font-size: 14px;
  text-align: center;
  color: rgb(113,165,44);
  background: rgb(255, 255, 255);
  border: 0px 0px 0px 0px none none none none rgb(255, 255, 255) rgb(70, 126, 42) rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 50px;
  text-shadow: none;
  box-shadow: none;
  margin: 50px 58px;
}

span.tooltip_white:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  top: 5px;
  left: -14px;
}
.form-line_1{
  border-bottom: 2px solid #8BBF4A;
  padding-bottom: 20px;
}
