.img_profile_3_center{
  
  h3{
    color: #8BBF4A;
  }
}
.bg_green-container{
  color: #65A327;
  font-size: 1em;
  background: #D8E7C1;
  height: auto;
  .form-line{
    border-bottom: 2px solid #8BBF4A;
    padding-bottom: 10px;
    .icon-greenpeace-vegetables_12{
      color: #71A52C;
      font-size: 3em;
    }
    .icon-greenpeace-whell_12{
      color: #D22E29;
      font-size: 3em;
    }
  }
  .form_line{
    margin-bottom: 45px;
  }
  h3{
    font-family: whitneybold;
    margin-bottom: 10px;
  }
}