.option_icons_gp{
  .text-icons-description{
    span{
      color: #656565;
      display: block;
      font-size: 0.4em;
      margin-top: 2px;
    }
  }
}
/* .option_icons */
.option_icons{
  color: #B2B2B2;
  font-size: 2.5em;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* /.option_icons */