/* .greenpeace-form_end */
.greenpeace-form_end{

  .icon-greenpeace-esc{
    color: #8BBF4A;
    font-size: 2.3em;
  }
  p{
    color: #8BBF4A;
    font-family: WhitneyBold;
    font-size: 1.5em;
  }
  a{
    font-size: 1em;
    color: #323232 !important;
  }
  .edit{
    a{
      font-size: 1em;
      color: #8BBF4A !important;
      text-decoration: underline;
    }
  }
  .logout{
    a{
      text-decoration: underline;
      font-size: 1em;
      color: #DD5845 !important;
    }
  }
  .margin-btn{
    margin: 0 0 3px 0;
  }
}
/* /.greenpeace-form_end */