/* .greenpeace-header-bg */
.greenpeace-header-bg{

  .name-profile-user{
    font-family: whitneybold;
  }
}
/* /.greenpeace-header-bg */
.greenpeace-slider-option{
  ul{
    li{
      margin-left: 24px;
    }
    .option_checkbox53{
      margin-left: 30px;
    }
  }
}
.images_bg_company{
  background: #8BBF4A;
  height: auto;
  p{
    color: #FFF;
    font-family: whitneybold;
    font-size: 1.4em;
  }
  .food{
    img{
      height: 140px;
      width: 116px;
    }
  }
  .hero{
    img{
      height: 140px;
      width: 116px;
    }
  }
}
