.gp-artitle-title{
  color: #656565;
  font-weight: 600;
  font-size: 1.53em;
  font-family: WhitneyBold;
  margin: 15px 0 0 0;
}
.gp-artitle-detail{
  color: #656565;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 50px;
  line-height: 22px;
}

.gp-social{
  text-align: center;
}