/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
input[type=checkbox].gp-delvalle {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-delvalle + label.gp-label {
	width: 20px;
	height:57px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-delvalle:checked + label.gp-label {
	background-position: 0px -57px;
}
.lbl-delvalle{background-image:url(../img/check-icon/delvalle-check.png);}
/**/
input[type=checkbox].gp-lbl123 {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbl123 + label.gp-label {
	width: 20px;
	height:42px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbl123:checked + label.gp-label {
	background-position: 0px -41px;
}
.lbl-123{background-image:url(../img/check-icon/123-check.png);}
/**/
input[type=checkbox].gp-lblalpura {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblalpura + label.gp-label {
	width: 26px;
	height:75px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblalpura:checked + label.gp-label {
	background-position: 0px -75px;
}
.lbl-alpura{background-image:url(../img/check-icon/alpura-check.png);}
/**/
input[type=checkbox].gp-lblbachoco {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblbachoco + label.gp-label {
	width: 74px;
	height:51px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblbachoco:checked + label.gp-label {
	background-position: 0px -50px;
}
.lbl-bachoco{background-image:url(../img/check-icon/bachoco-check.png);}
/**/
input[type=checkbox].gp-lblbimbo {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblbimbo + label.gp-label {
	width: 72px;
	height:21px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblbimbo:checked + label.gp-label {
	background-position: 0px -22px;
}
.lbl-bimbo{background-image:url(../img/check-icon/bimbo-check.png);}
/**/
input[type=checkbox].gp-lblcarlosV {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblcarlosV + label.gp-label {
	width: 39px;
	height:13px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblcarlosV:checked + label.gp-label {
	background-position: 0px -14px;
}
.lbl-carlosV{background-image:url(../img/check-icon/carlosV-check.png);}
/**/
input[type=checkbox].gp-lblchocomilk {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblchocomilk + label.gp-label {
	width: 29px;
	height:31px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblchocomilk:checked + label.gp-label {
	background-position: 0px -31px;
}
.lbl-chocomilk{background-image:url(../img/check-icon/chocomilk-check.png);}
/**/
input[type=checkbox].gp-lblclemente {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblclemente + label.gp-label {
	width: 63px;
	height:24px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblclemente:checked + label.gp-label {
	background-position: 0px -24px;
}
.lbl-clemente{background-image:url(../img/check-icon/clemente-check.png);}
/**/
input[type=checkbox].gp-lblcocacola {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblcocacola + label.gp-label {
	width: 16px;
	height:59px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblcocacola:checked + label.gp-label {
	background-position: 0px -59px;
}
.lbl-cocacola{background-image:url(../img/check-icon/cocacola-check.png);}
/**/
input[type=checkbox].gp-lblcrisol {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblcrisol + label.gp-label {
	width: 15px;
	height:46px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblcrisol:checked + label.gp-label {
	background-position: 0px -46px;
}
.lbl-crisol{background-image:url(../img/check-icon/crisol-check.png);}
/**/
input[type=checkbox].gp-lbldanone {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbldanone + label.gp-label {
	width: 15px;
	height:46px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbldanone:checked + label.gp-label {
	background-position: 0px -46px;
}
.lbl-danone{background-image:url(../img/check-icon/danone-check.png);}
/**/
input[type=checkbox].gp-lblgerber {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblgerber + label.gp-label {
	width: 19px;
	height:23px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblgerber:checked + label.gp-label {
	background-position: 0px -23px;
}
.lbl-gerber{background-image:url(../img/check-icon/gerber-check.png);}
/**/
input[type=checkbox].gp-lblgatorade {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblgatorade + label.gp-label {
	width: 21px;
	height:48px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblgatorade:checked + label.gp-label {
	background-position: 0px -48px;
}
.lbl-gatorade{background-image:url(../img/check-icon/gatorade-check.png);}
/**/
input[type=checkbox].gp-lblhaagen {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblhaagen + label.gp-label {
	width: 47px;
	height:51px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblhaagen:checked + label.gp-label {
	background-position: 0px -50px;
}
.lbl-haagen{background-image:url(../img/check-icon/haagen-check.png);}
/**/
input[type=checkbox].gp-lblhellmann {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblhellmann + label.gp-label {
	width: 19px;
	height:30px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblhellmann:checked + label.gp-label {
	background-position: 0px -30px;
}
.lbl-hellmann{background-image:url(../img/check-icon/hellmann-check.png);}
/**/
input[type=checkbox].gp-lblhershey {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblhershey + label.gp-label {
	width: 39px;
	height:19px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblhershey:checked + label.gp-label {
	background-position: 0px -20px;
}
.lbl-hershey{background-image:url(../img/check-icon/hershey-check.png);}
/**/
input[type=checkbox].gp-lblholanda {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblholanda + label.gp-label {
	width: 43px;
	height:45px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblholanda:checked + label.gp-label {
	background-position: 0px -45px;
}
.lbl-holanda{background-image:url(../img/check-icon/holanda-check.png);}
/**/
input[type=checkbox].gp-lblkellogg {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblkellogg + label.gp-label {
	width: 33px;
	height:51px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblkellogg:checked + label.gp-label {
	background-position: 0px -50px;
}
.lbl-kellogg{background-image:url(../img/check-icon/kellogg-check.png);}
/**/
input[type=checkbox].gp-lbllala {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbllala + label.gp-label {
	width: 30px;
	height:76px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbllala:checked + label.gp-label {
	background-position: 0px -76px;
}
.lbl-lala{background-image:url(../img/check-icon/lala-check.png);}
/**/
input[type=checkbox].gp-lbllarin {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbllarin + label.gp-label {
	width: 32px;
	height:12px;  
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbllarin:checked + label.gp-label {
	background-position: 0px -12px;
}
.lbl-larin{background-image:url(../img/check-icon/larin-check.png);}
/**/
input[type=checkbox].gp-lblmilpareal {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblmilpareal + label.gp-label {
	width: 29px;
	height:47px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblmilpareal:checked + label.gp-label {
	background-position: 1px -47px;
}
.lbl-milpareal{background-image:url(../img/check-icon/milpareal-check.png);}
/**/
input[type=checkbox].gp-lblmnm {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblmnm + label.gp-label {
	width: 31px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblmnm:checked + label.gp-label {
	background-position: 0px -15px;
}
.lbl-mnm{background-image:url(../img/check-icon/mnm-check.png);}
/**/
input[type=checkbox].gp-lblneste {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblneste + label.gp-label {
	width: 21px;
	height:51px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblneste:checked + label.gp-label {
	background-position: 0px -51px;
}
.lbl-neste{background-image:url(../img/check-icon/neste-check.png);}
/**/
input[type=checkbox].gp-lblnestle {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblnestle + label.gp-label {
	width: 32px;
	height:50px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblnestle:checked + label.gp-label {
	background-position: -1px -50px;
}
.lbl-nestle{background-image:url(../img/check-icon/nestle-check.png);}
/**/
input[type=checkbox].gp-lblnido {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblnido + label.gp-label {
	width: 39px;
	height:48px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblnido:checked + label.gp-label {
	background-position: 0px -49px;
}
.lbl-nido{background-image:url(../img/check-icon/nido-check.png);}
/**/
input[type=checkbox].gp-lbloleico {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbloleico + label.gp-label {
	width: 17px;
	height:41px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbloleico:checked + label.gp-label {
	background-position: 0px -41px;
}
.lbl-oleico{background-image:url(../img/check-icon/oleico-check.png);}
/**/
input[type=checkbox].gp-lblpepsi {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblpepsi + label.gp-label {
	width: 17px;
	height:58px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblpepsi:checked + label.gp-label {
	background-position: 0px -58px;
}
.lbl-pepsi{background-image:url(../img/check-icon/pepsi-check.png);}

/**/
input[type=checkbox].gp-lblsabritas {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblsabritas + label.gp-label {
	width: 35px;
	height:39px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblsabritas:checked + label.gp-label {
	background-position: 0px -40px;
}
.lbl-sabritas{background-image:url(../img/check-icon/sabritas-check.png);}
/**/
input[type=checkbox].gp-lbltia_rosa {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbltia_rosa + label.gp-label {
	width: 29px;
	height:35px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbltia_rosa:checked + label.gp-label {
	background-position: 0px -35px;
}
.lbl-tia_rosa{background-image:url(../img/check-icon/tia_rosa-check.png);}
/**/
input[type=checkbox].gp-lblipod {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblipod + label.gp-label {
	width: 25px;
	height:38px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblipod:checked + label.gp-label {
	background-position: 0px -36px;
}
.lbl-ipod{background-image:url(../img/check-icon/ipod.png);}
/**/
input[type=checkbox].gp-lblcamera {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblcamera + label.gp-label {
	width: 38px;
	height:23px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblcamera:checked + label.gp-label {
	background-position: 0px -34px;
}
.lbl-camera{background-image:url(../img/check-icon/camera.png);}
/**/
input[type=checkbox].gp-lbllaptop {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbllaptop + label.gp-label {
	width: 56px;
	height:34px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbllaptop:checked + label.gp-label {
	background-position: -1px -34px;
}
.lbl-laptop{background-image:url(../img/check-icon/laptop_1.png);}
/*pendiente*/
input[type=checkbox].gp-lbltablet {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbltablet + label.gp-label {
	width: 34px;
	height:52px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbltablet:checked + label.gp-label {
	background-position: 0px -52px;
}
.lbl-tablet{background-image:url(../img/check-icon/tablet.png);}
/**/
input[type=checkbox].gp-lblcpu {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblcpu + label.gp-label {
	width: 64px;
	height:37px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblcpu:checked + label.gp-label {
	background-position: 0px -36px;
}
.lbl-cpu{background-image:url(../img/check-icon/CPU.png);}
/**/
input[type=checkbox].gp-lbldvd {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbldvd + label.gp-label {
	width: 74px;
	height: 13px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbldvd:checked + label.gp-label {
	background-position: 0px -36px;
}
.lbl-dvd{background-image:url(../img/check-icon/DVD.png);}
/**/
input[type=checkbox].gp-lbltelevision {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbltelevision + label.gp-label {
	width: 83px;
	height: 59px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbltelevision:checked + label.gp-label {
	background-position: 0px -58px;
}
.lbl-television{background-image:url(../img/check-icon/television.png);}
/*pendiente*/
input[type=checkbox].gp-lblcomputer {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblcomputer + label.gp-label {
	width: 82px;
	height: 57px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblcomputer:checked + label.gp-label {
	background-position: 0px -56px;
}
.lbl-computer{background-image:url(../img/check-icon/computer.png);}
/**/
input[type=checkbox].gp-lbldad {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lbldad + label.gp-label {
	width: 45px;
	height: 48px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lbldad:checked + label.gp-label {
	background-position: 0px -48px;
}
.lbl-dad{background-image:url(../img/check-icon/dad.png);}
/**/
input[type=checkbox].gp-lblmom {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblmom + label.gp-label {
	width: 47px;
	height: 43px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblmom:checked + label.gp-label {
	background-position: 0px -45px;
}
.lbl-mom{background-image:url(../img/check-icon/mom.png);}
/**/
input[type=checkbox].gp-lblchildren {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblchildren + label.gp-label {
	width: 47px;
	height: 43px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblchildren:checked + label.gp-label {
	background-position: 0px -43px;
}
.lbl-children{background-image:url(../img/check-icon/children.png);}
/**/
input[type=checkbox].gp-lblgirl {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblgirl + label.gp-label {
	width: 53px;
	height: 46px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblgirl:checked + label.gp-label {
	background-position: 0px -45px;
}
.lbl-girl{background-image:url(../img/check-icon/girl.png);}
/**/
input[type=checkbox].gp-lblsprinkler {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblsprinkler + label.gp-label {
	width: 53px;
	height: 50px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblsprinkler:checked + label.gp-label {
	background-position: 0px -48px;
}
.lbl-sprinkler{background-image:url(../img/check-icon/sprinkler.png);}
/**/
input[type=checkbox].gp-lblbathroom {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblbathroom + label.gp-label {
	width: 53px;
	height: 50px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblbathroom:checked + label.gp-label {
	background-position: 0px -50px;
}
.lbl-bathroom{background-image:url(../img/check-icon/bathroom.png);}
/**/
input[type=checkbox].gp-lblflowerpot {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblflowerpot + label.gp-label {
	width: 53px;
	height: 54px;
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblflowerpot:checked + label.gp-label {
	background-position: 0px -54px;
}
.lbl-flowerpot{background-image:url(../img/check-icon/flowerpot.png);}
/**/
input[type=checkbox].gp-lblplug {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblplug + label.gp-label {
	width: 53px;
	height: 51px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblplug:checked + label.gp-label {
	background-position: -1px -51px;
}
.lbl-plug{background-image:url(../img/check-icon/plug.png);}
/**/
input[type=checkbox].gp-lblbuild {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblbuild + label.gp-label {
	width: 31px;
	height: 32px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblbuild:checked + label.gp-label {
	background-position: 0px -33px;
}
.lbl-build{background-image:url(../img/check-icon/build.png);}
/**/
input[type=checkbox].gp-lblcalendar {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblcalendar + label.gp-label {
	width: 25px;
	height: 25px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblcalendar:checked + label.gp-label {
	background-position: 0px -26px;
}
.lbl-calendar{background-image:url(../img/check-icon/calendar.png);}
/**/
input[type=checkbox].gp-lblnews {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblnews + label.gp-label {
	width: 26px;
	height: 25px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblnews:checked + label.gp-label {
	background-position: 0px -26px;
}
.lbl-news{background-image:url(../img/check-icon/news.png);}
/**/
input[type=checkbox].gp-lblprize {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblprize + label.gp-label {
	width: 28px;
	height: 28px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblprize:checked + label.gp-label {
	background-position: 0px -27px;
}
.lbl-prize{background-image:url(../img/check-icon/prize.png);}
/**/
input[type=checkbox].gp-lblsetting {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblsetting + label.gp-label {
	width: 30px;
	height: 35px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblsetting:checked + label.gp-label {
	background-position: 0px -33px;
}
.lbl-setting{background-image:url(../img/check-icon/setting.png);}
/**/
input[type=checkbox].gp-lblvoice {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblvoice + label.gp-label {
	width: 29px;
	height: 21px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblvoice:checked + label.gp-label {
	background-position: 0px -24px;
}
.lbl-voice{background-image:url(../img/check-icon/voice.png);}
/**/
input[type=checkbox].gp-lblgame {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblgame + label.gp-label {
	width: 33px;
	height: 26px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblgame:checked + label.gp-label {
	background-position: 0px -27px;
}
.lbl-game{background-image:url(../img/check-icon/game.png);}
/**/
input[type=checkbox].gp-lblimg_1 {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblimg_1 + label.gp-label {
	width: 36px;
	height: 36px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblimg_1:checked + label.gp-label {
	background-position: 0px -37px;
}
.lbl-img_1{background-image:url(../img/check-icon/energy_hidraulic.png);}
/**/
input[type=checkbox].gp-lblimg_2 {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblimg_2 + label.gp-label {
	width: 36px;
	height: 36px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblimg_2:checked + label.gp-label {
	background-position: 0px -37px;
}
.lbl-img_2{background-image:url(../img/check-icon/img_1.png);}
/**/
input[type=checkbox].gp-lblimg_3 {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblimg_3 + label.gp-label {
	width: 36px;
	height: 36px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblimg_3:checked + label.gp-label {
	background-position: 0px -36px;
}
.lbl-img_3{background-image:url(../img/check-icon/img_3.png);}
/**/
input[type=checkbox].gp-lblimg_4 {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}
input[type=checkbox].gp-lblimg_4 + label.gp-label {
	width: 36px;
	height: 36px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].gp-lblimg_4:checked + label.gp-label {
	background-position: 0px -37px;
}
.lbl-img_4{background-image:url(../img/check-icon/img_4.png);}













