@font-face {
  font-family: WhitneyBold;
  src: url('../fonts/WhitneyBold.otf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: WhitneyMedium;
  src: url('../fonts/WhitneyMedium.otf');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: WhitneySemibold;
  src: url('../fonts/WhitneySemibold.otf');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: MyriadPro-Regular;
  src: url('../fonts/MyriadPro-Regular.otf');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'greenpeace';
  src:url('../fonts/greenpeace.eot?-xtfhsg');
  src:url('../fonts/greenpeace.eot?#iefix-xtfhsg') format('embedded-opentype'),
    url('../fonts/greenpeace.woff2?-xtfhsg') format('woff2'),
    url('../fonts/greenpeace.ttf?-xtfhsg') format('truetype'),
    url('../fonts/greenpeace.woff?-xtfhsg') format('woff'),
    url('../fonts/greenpeace.svg?-xtfhsg#greenpace') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  font-family: 'greenpeace';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.icon-greenpeace-look:before {
  content: "\e603";
}
.icon-greenpeace_menu_1:before {
  content: "\e62b";
}
.icon-greenpeace_news_1:before {
  content: "\e62c";
}
.icon-greenpeace-mail:before {
  content: "\e62d";
}
.icon-greenpeace-left:before {
  content: "\e617";
}
.icon-greenpeace-mochila:before {
  content: "\e625";
}
.icon-greenpeace-ray:before {
  content: "\e626";
}
.icon-greenpeace-right_1:before {
  content: "\e629";
}
.icon-greenpeace-wheels:before {
  content: "\e62a";
}
.icon-greenpeace-watter1:before {
  content: "\e620";
}
.icon-greenpeace-whell_12:before {
  content: "\e621";
}
.icon-greenpeace-vegetables_12:before {
  content: "\e622";
}
.icon-greenpeace-podium_12:before {
  content: "\e624";
}
.icon-greenpeace-bell:before {
  content: "\e61f";
}
.icon-greenpeace-camera:before {
  content: "\e61e";
}
.icon-greenpeace-right:before {
  content: "\e618";
}
.icon-greenpeace-pipelines:before {
  content: "\e619";
}
.icon-greenpeace-party:before {
  content: "\e61a";
}
.icon-greenpeace-money:before {
  content: "\e61b";
}
.icon-greenpeace-friends:before {
  content: "\e61c";
}
.icon-greenpeace-exercise:before {
  content: "\e61d";
}
.icon-greenpeace-blog:before {
  content: "\e623";
}
.icon-greenpeace-agriculture:before {
  content: "\e627";
}
.icon-energy-hidraulic:before {
  content: "\e628";
}
.icon-greenpeace-option:before {
  content: "\e616";
}
.icon-greenpeace-podium_1:before {
  content: "\e610";
}
.icon-greenpeace-search:before {
  content: "\e611";
}
.icon-greenpeace-vegetables_1:before {
  content: "\e613";
}
.icon-greenpeace-watter_1:before {
  content: "\e614";
}
.icon-greenpeace-whell_1:before {
  content: "\e615";
}
.icon-greenpeace-menu:before {
  content: "\e60d";
}
.icon-greenpeace-facebook_1:before {
  content: "\e608";
}
.icon-greenpeace-pinteres:before {
  content: "\e609";
}
.icon-greenpeace-twitter:before {
  content: "\e60c";
}
.icon-greenpeace-build:before {
  content: "\e605";
}
.icon-greenpeace-calendar:before {
  content: "\e606";
}
.icon-greenpeace-esc:before {
  content: "\e607";
}
.icon-greenpeace-game:before {
  content: "\e60a";
}
.icon-greenpeace-news:before {
  content: "\e60b";
}
.icon-greenpeace-prize:before {
  content: "\e60e";
}
.icon-greenpeace-settings:before {
  content: "\e60f";
}
.icon-greenpeace-voice:before {
  content: "\e612";
}
.icon-greenpace-call:before {
  content: "\e601";
}
.icon-greenpace-facebook:before {
  content: "\e602";
}
.icon-greenpace-user:before {
  content: "\e604";
}
