.margin-0{
  margin: 0px;
}
.greenpeace-top10{
  margin-top: 10px;
}
.greenpeace-top5{
  margin-top: 5px;
}
.greenpeace-top3{
  margin-top: 3px;
}
.greenpeace_-top4{
  margin-top: -4px;
}
.greenpeace_-top10{
  margin-top: -10px;
}
.greenpeace_-top15{
  margin-top: -15px;
}
.greenpeace_-top30{
  margin-top: -30px;
}
.greenpeace-btm10{
  margin-bottom: 10px;
}
.greenpeace-top15{
  margin-top: 15px;
}
.greenpeace-top20{
  margin-top: 20px;
}
.greenpeace-top30{
  margin-top: 30px;
}
.greenpeace-top45{
  margin-top: 45px;
}
.greenpeace-btm30{
  margin-bottom: 30px;
}
.greenpeace-top150{
  margin-top: 150px;
}
.greenpeace-top80{
  margin-top: 80px;
}
.greenpeace-top50{
  margin-top: 50px;
}
.greenpeace-margin-10-0{
  margin: 10px 0;
}
.greenpeace-rth10{
  margin-right: 10px;
}
.greenpeace-bttm0{
  bottom:0;
  position: absolute;
}
.text-center{
  text-align: center;
}
.greenpeace-sumbit-button button{
  color: #FFF;
  background: #8BBF4A;
  border-color: #8BBF4A;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
}
.greenpeace-sumbit-button button:focus{
  outline-color: #8BBF4A;
}
.greenpeace-form-line-gpgray{
  border-bottom: 1px solid #323232;
}
.greenpeace-form-line{
  border-bottom: 1px solid #323232;
}
.greenpeace-form-line-gray{
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 10px;
}
.greenpeace-form-line-white{
  border-bottom: 1px solid #FFF;
}
.icon-greenpeace{
  color: #8BBF4A;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.pull-left {
  float:left;
}
.pull-right {
  float:right;
}
.btn-dummy{
  background-color: #8BBF4A;
  color: #fff;
  padding: 12px 0px;
  width: 100%;
  display: block;
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
}
.position-relative{
  position: relative;
  clear: both;
}
.position-absolute{
  position: absolute;
}
.icon_greenpeace_challenge_pinteres{
 color: #BA1720;
 font-size: 3.8em;
}
.icon_greenpeace_challenge_twitter{
 font-size: 3.8em;
 color: #38A4DC;
}
.icon_greenpeace_challenge_facebook{
 font-size: 3.8em;
 color: #3C5A81;
}
.transition-500 {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.transition-1000 {
  -webkit-transition-duration: 1000ms;
  transition-duration: 1000ms;
}
.greenpeace-ptop5{
  padding: 5px 0;
}
.greenpeace-ptop10{
  padding-top: 10px;
}
.greenpeace-pbtm10{
  padding-bottom: 10px;
}
.greenpeace-ptop15{
  padding-top: 15px;
}
.greenpeace-pbtm15{
  padding-bottom: 15px;
}
.color_option_red {
    color: #DD5845 !important;
    margin-left: 3px;
}
.color_option_green {
    color: #8BBF4A !important;
}
.color_option_blue {
    color: #66A9DD !important;
}
.color_option_yellow {
    color: #F8B036 !important;
}
hr{
  border: 0;
  color: #ccc;
  background-color: #ccc;
  height: 1px;
}
.right{
  float: right;
}

.img_profile_2_center{
  img{
    border: 2px solid #8BBF4A;
    border-radius: 100px;
  }
}
.img_small{
  width: 90px;
}
.icon-greenpeace-mail{
  font-size: 1.7em;
  margin-left: 11px;
}
.icon-greenpeace-look{
  font-size: 1.7em;
  margin-left: 11px;
}
.icon-greenpeace-blog{
  font-size: 1.7em;
  margin-left: 11px;
  margin-bottom: 1px;
}
.font-size-icon{
  font-size: 1.7em;
  margin-left: 11px;
}
.icon-greenpace-call {
  font-size: 1.7em;
  margin-left: 11px;
}
.gp-summary-title{
  font-family: WhitneyBold;
  margin-top: 0px;
  margin-bottom: 3px;
}

.gp-summary-detail{
  margin-top: 0px;
  margin-bottom: 0px;
}
.greenpeace-header-bg {
  text-transform: uppercase;
}
.text_decoration_link{
  text-decoration: underline;
}
.greenpeace-left15{
  margin-left: 15px;
}
.whitneybold{
  font-family: whitneybold;
}
.whitneymedium{
  font-family: whitneymedium;
}
.font14pt{
  font-size: 1.125em;
}
.greenpeace-support-img{
  width: 90%;
}
.font12pt{
  font-size: 1em;
}
