html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: WhitneyMedium;
  font-size: 16px;
}
.wrapper {
  //background: #F3F3F3;
  margin: auto;
  min-height: 100%;

}
.container{
    padding: 0 15px 0 15px;
}
/* greenpeace-bg-green */
.greenpeace-bg-green{
  background: #8BBF4A;
}
/* /.greenpeace-bg-green */

.gp-parent-welcome{
	display: table;
}
.gp-child-welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
.gp-logo-container{
  padding-top: 80px;
  padding-bottom: 80px;
}

/*Ismael*/
div.simpleTabs { height: 100%;background-color: #71A52C;}
ul.simpleTabsNavigation { margin:0; padding:0;height: 50px;text-align: center;z-index: 9999999;position: fixed;width: 100%;top: 0px;}
ul.simpleTabsNavigation li { list-style:none; display:inline; margin:0; padding:0; }
ul.simpleTabsNavigation li a {line-height:49px; font-size:1.2em; text-decoration:none; display:block; }
ul.simpleTabsNavigation li a:hover { background-color:#F6F6F6; }
ul.simpleTabsNavigation li a.current {background: #8BBF4A;color: #fff;border-bottom: 1px solid #8BBF4A;}
div.simpleTabsContent { height:100%;display:none; }
div.simpleTabsContent.currentTab { display:block; }
