
.container-img-menu{
    position: absolute;
    a{
        .icon-greenpeace-left{
            font-size: 2em;
            margin-left: 10px;
        }
        .icon-greenpace-user{
            margin-top: 0px;
        }
    }
}

/* General Header Ismael*/
.gp-general-img-header{
    background: transparent;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
}
.gp-general-header{
    background: #71A42C;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
}
.gp-icon-size-menu{
    font-size: 1.8em;
}
.gp-icon-size-user{
    font-size: 1.8em;
}
.gp-icon-size-dcircle{
    font-size: 1.8em;
}
.gp-general-header-title{
    color: #FFFFFF;
    font-family: WhitneyBold;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 1.5em;
}
.gp-search-header{
    background: #C6C6C6;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
}
.gp-input-groupsearch{
    position: relative;
    color: #FFFFFF;
}
input[type="search"].gp-search{
    background: transparent;
    border-radius: 7px;
    border: 1px solid #FFFFFF;
    display: block;
    width: 100%;
    position: absolute;
    margin-top: -40px;
    margin-bottom: -40px;
    height: 25px;
    padding-left: 20px;
    //width: 195px;
    width: 230px;
}
.gp-search-close{
    float: right;
    margin-right: 5px;
}
.bg-exercise-wommen{
    background: url("../img/img-greenpeace/img_28.png") center no-repeat;
    background-size: cover;
    height: 270px;
}
