.gp-bgimg{
  height: 270px;
  position: relative;


  .bg-organic-bazaar{
    background: url("../img/img-greenpeace/img_33.png") center no-repeat;
    background-size: cover;
    height: 270px;
  }
  .bg-organic-vaquita{
     background: url("../img/img-greenpeace/img_23.png") center no-repeat;
     background-size: cover;
     height: 270px;
   }
  .bg-organic-greenbuilding{
    background: url("../img/img-greenpeace/img_9.png") center no-repeat;
    background-size: cover;
    height: 490px;
  }
  .bg-organic-fruit-veg{
    background: url("../img/img-greenpeace/img_10.png") center no-repeat;
    background-size: cover;
    height: 270px;
  }
  .bg-organic-farm{
    background: url("../img/img-greenpeace/img_39.png") center no-repeat;
    background-size: cover;
    height: 270px;
  }

}

.greenpeace-header-img{
  background: transparent;
  height: 50px;
  line-height: 50px;
}
.icon-greenpeace-option{
  color: #fff;
}