.cont-search{
	height:50px;
    width: 100%;
    line-height: 40px;
    background: #E5E5E5;
    position: relative;
	.search-map{
		width: 100%;
	    height: 30px;
	    border-radius: 5px;
	    border: 0;
	    color: #656565;
	    text-align: center;
	    font-size: .9em;
	    letter-spacing: 1px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	span.icon-greenpeace-search{
	    margin: 20px 0px 0 40px;
	    font-size: 0.8em;
	    display: block;
	    position: absolute;
	    color: #7F7F7F;
	}
}
.details-location-maps{
	bottom: 0;
    background: rgba(139,191,74,.75);
    color: #fff;
    width: 	100%;
}
.text-decoration{
	text-decoration: auto !important;
}
.pointers-colors{
	margin-top:50px;
	font-size:1.8em;
}