.position-fixed{
	position: fixed;
    width: 100%;
}
.active-main{
	background-color: #8BBF4A;
}
.ul-main-navigation {
	background-color: #8BBF4A;
    margin: 0;
    height: 100%;
    overflow: auto;
    list-style: none;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 50px;
    width: 100%;
}
.cont-navigation-fixed {
    width: 100%;
    position: fixed;
    height: 518px;
    top: 0px;
}
.li-navigation-opt {
    height: 80px;
    color: #fff;
    padding: 0;
    text-align: left;
    &:first-child{
        margin-top: 20px;
    }
    &:last-child{
        margin-bottom: 30px;
    }
}
.cont-opt-main {
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 31px;
    border: 3px solid #fff;
    line-height: 45px;
    font-size: 2.1em;
}
.user-small-notification{
    border-radius: 27px;
    margin-top: 5px;
    width: 39px;     
}
.font-small-notification{
    font-size: .80em;
    font-weight: 100;
    margin-top: 4px;
}
.font-small-subnotification{
    font-size: .64em;
}
.user-type-notification {
    border: 2px solid #fff;
    border-radius: 61px;
    text-align: center;
    line-height: 30px;
    margin-top: 7px;
    height: 29px;
}
.opt-main{
    line-height: 46px;
}