.gpcolor-greengrass{
  color: #71A52C;
}
.bg-color-greengrass{
  color: #71A52C;
}
.gpcolor-icons .gpcolor-title-popup{
  color: #8BBF4A;
}
.gpcolor-button-fb{
  background: #3C5A81;
}
.bg-color-buttons{
  background: #8BBF4A;
}
.bg-color-green{
  background: #8BBF4A;
}
.bg-color-popup{
  background: #8BBF4A;
}
.gpcolor-header-title{
  color: #FFFFFF;
}
.bg-color-gray{
  background: #C2C2C2;
}
.bg-color-red{
  background: #DD5845;
}
.bg-color-orange{
  background: #F8B036;
}
.bg-color-blue{
  background: #66A9DD; 
}
.bg-color-pink{
  background: #F4A28B;
}
.bg-color-orange_light{
  background: #FCD08F;
}
.bg-color-blue_light{
  background: #D1E1F5;
}
.bg-color-green_light{
  background: #D8E7C1;
}
.gp-color-orange{
  color: #F8B036;
}
.gp-color-blue{
  color: #66A9DD;
}
.gp-color-pinterest{
  color: #BA1720;
}
.gp-color-twitter{
  color: #38A4DC;
}
.gp-color-facebook{
  color: #3C5A81;
}
.gp-color-letters{
  color: #656565;
}
.gp-color-red{
  color: #DD5845;
}
.gp-color-gray{
  color: #7F7F7F;
}
.gp-color-green{
  color: #71A42C;
}

