.container_popup_notification{
  height: 300px !important;
  width: 215px !important;
}
/* .container-icon-popup */
.container-icon-popup{
	height: 75px;
	.container-center{
		height: 75px;
	    margin: 10px auto;
	    width: 75px;
	    border-radius: 99px;
	    font-size: 4.7em;
	}
}
/* /.container-icon-popup */
.red-icon{
	color: #D22E29 !important; 
}
.yellow-icon{
	color:#F8B036 !important;
}
.green-icon{
	color:#8BBf4A !important;
}
.blue-icon{
	color:#66A9DD !important;
}
.paragraph-porcentage{
	text-align: center;
    margin: 12px 0;
}
.cont-list-img{
    height: 70px;
    margin: 12px 0;
    position: relative;
    .img-list{
		display: block;
	    width: 100%;
	    height: 70px;
    }
    .label-rgba{
    	height: 35px;
	    background: rgba(50, 50, 50, 0.8);
	    color: #fff;
	    line-height: 17px;
	  	font-family: whitneybold;
	    font-size: 1em;
	    position: absolute;
	    bottom: 0px;
	    padding: 0 33px;
	    font-weight: 100;
	    display: block;
    }
}
.cont-img-user{
  img{
    border-radius: 80px;
	width: 110px;
  }
}
.cont-icon-popup{
	font-size: 5em;
	margin-top:15px;
	text-align: center;
}
.cont-icon-popup-party{
  color: #8BBF4A;
  font-size: 5em;
}
.title_popup_challenge{
  color: #71A52C;
  font-family: whitneybold;
  margin: 0;
  margin-top: 20px;
}
.container_popup_challenge{
  display: inline-block;
  text-align: center;
  width: 200px;
}
.bg-img{
  
  height: 83px;
  width: 235px;
  margin-left: -10px;
  background-size: cover;

  
}
.popup-1{
  background: url("../img/img-greenpeace/img_29.png");
}
.popup-2{
  background: url("../img/img-greenpeace/img_30.png");
}
.popup-3{
  background: url("../img/img-greenpeace/img_31.png");
}

.text_description_firstchallenge{
  color: #FFF;
  font-family: whitneybold;
  background: rgba(50, 50, 50, 0.9);
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  top: 39px;
  font-size: 1em;
  span{
	display: inline-block;
	width: 190px;

  }
}
.text_big_title{
  font-size: 2.5em;
}

.icon_greenpeace_challenge_pinteres_p{
  color: #BA1720;
  font-size: 4.5em;
}
.icon_greenpeace_challenge_twitter_p{
  font-size: 4.5em;
  color: #38A4DC;
}
.icon_greenpeace_challenge_facebook_p{
  font-size: 4.5em;
  color: #3C5A81;
}
.title_whell_popup{
  font-size: 2.5em;
}
.popup_paragraph{
  margin-top: 0px;
}
.title_whell_popup_cong{
  font-size: 2.3em;
}