.icon-menu{
  a{
    text-decoration: none;
    span{
      color: #FFF;
      display: block;
      font-size: 1.2em;
      margin-top: 9px;
      margin-left: 10px;
    }
  }

}
.greenpeace-form{
  .text_firstchallenge_title{
    h4{
      color: #71A52C;
      font-family: WhitneyBold;
      span{
        font-size: 0.75em;
      }
    }
  }
  .number_option{
    color: #656565;
    font-family: WhitneyMedium;
    font-size: 1em;
    margin-top: 3px;
  }
  .greenpeace-slider-img{
    border-top: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    .slider_option_greenpeace{
      display: inline-flex;
      list-style: none;
      width: 90%;
      height: 31px;
      overflow: scroll;
      .list_option_first{
        margin-left: -40px;
      }
      li{
        margin-left: 30px;
      }
    }
  }
  a{
    color: #656565;
    font-family: WhitneyMedium;
    text-decoration: none;
    .recomendation_option{
      display: block;
      margin-top: 190px;
    }
  }
  .article_option_img{
    .industry_challenge_img{
      img{
        border-radius: 10px;
        height: 344px;
        width: 130px;
      }
    }
  }
  .garden_challenge_img{
    img{
      border-radius: 10px;
    }
    .img_description_garden{
      font-family: WhitneyBold;
      font-size: 0.8em;
      margin-left: 10px;
      border-bottom: 1px solid #CCCCCC;
      .description_garden{
        font-family: WhitneyMedium;
        font-size: 1em;
        margin-top: 2px;
      }
    }
    .img_person_challenge{
      img{
        margin-left: 10px;
        width: 20px;
      }
    }
  }
}