/* .greenpeace-navbar-back */
.greenpeace-navbar-back{
  height: 26px;
  position: fixed;
  width: 100%;
  .greenpeace-nav-margin{
    margin:5px 10px;
    a{
      color: #fff;
      text-decoration: none;
      .icon-greenpeace-left{
      	font-size: 1.3em;
      }
      
      &:hover{
        color:#fff;
      }
      &:visited{
        color:#fff;
      }
    }
  }
}
/* /.greenpeace-navbar-back */
.greenpeace-img-publication{
  height: auto;
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.greenpeace-publication-title{
  margin: 5px 0px;
  text-align: left;
  color: #656565;
  font-family: WhitneyBold;
  font-weight: 600;
}
.greenpeace-publication-subtitle{
  color: #656565;
  font-family: WhitneyMedium;
  font-size: 1.375em;
  margin: 10px 0;
}
.greenpeace-publication-details{
	color:#656565;
    font-family: WhitneyMedium;
	font-size:1em;
	font-weight:100;	
}
.greenpeace-mexico{
  font-size: 1.4em;
  color: #656565;
  letter-spacing: 1px;
  font-family: WhitneyBold;
  margin: 0;
  .position-whell{
    font-size: 1.4em;
    margin: 2px 0 0 0;
  }
}
.greenpeace-text{
  font-size: 1.537em;
  color: #656565;
  letter-spacing: 1px;
  font-family: WhitneyBold;
  margin: 0;
  .position-whell{
    font-size: 1.4em;
    margin: 2px 0 0 0;
  }
}
.btn-show-publication{
  background-color: #8BBF4A;
  border-radius: 3px !important;
  color: #fff;
  padding: 12px 0px;
  width: 100%;
  display: block;
  font-size: 1.29em;
  font-family: whitneybold;
  letter-spacing: 1px;
  color: #fff;
}
.btn-show-publication-red{
  background-color: #DD5845;
  border-radius: 3px !important;
  color: #fff;
  padding: 12px 0px;
  width: 100%;
  display: block;
  font-size: 1.29em;
  letter-spacing: 1px;
  font-weight: 100;
  color: #fff;
}
.icon-publications-whell{
  font-size: 1.6em;
}