/* .greenpeace-regular_products */
.greenpeace-regular_products{
  /*.greenpeace-container-sideboard */
  .greenpeace-container-sideboard{
    background: url("../img/img-greenpeace/greenpeace-sideboard.png") center no-repeat;
    background-position-y: -7px;
    height: 722px;
    .lblbimbo{
      margin-top: 14px;
    }
    .lbl-products-seconds{
      margin-top: 8px;
    }
    .text-buys-week{
      color: #FFF;
      font-family: whitneybold;
      font-size: 0.9em;
    }
    .text-option-buys{
      color: #FFF;
      font-family: whitneybold;
      font-size: 0.8em;
      .mall-option{
        font-size: 0.9em;
      }
    }
  }
  /* /.greenpeace-container-sideboard */
}
/* /.greenpeace-regular_products */