/*
*  CSS para el sitio greenpeace
*  Seccción Sprites
*  Autor: Ismael Castillo Justo, Erika Barrera, Enrique Rámirez 
*/
.greenpeace-white-index {
  display: block;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -7px -8px;
  height: 24px;
  width: 145px;
  margin:0 auto;
}
.greenpeace-white {
  display: block;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -7px -8px;
  height: 24px;
  width: 145px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.greenpeace-green {
  display: block;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -6px -43px;
  height: 25px;
  width: 146px;
  margin: 0 auto;
  
}

[class^="sprite-"] {
  background: url(../img/sprite_icon.png);
  display: inline-block;
  *display: inline;
  vertical-align: middle;

  &.sprite-bathroom {
    background-position: -3px -2px;
    width: 34px;
    height: 34px;
  }
  &.sprite-motorcycle{
    background-position: -7px -56px;
    width: 31px;
    height: 52px;
  }
  &.sprite-bicycle{
    background-position: -3px -121px;
    width: 40px;
    height: 45px;
  }
  &.sprite-train{
    background-position: -3px -178px;
    width: 41px;
    height: 59px;
  }
  &.sprite-house{
    background-position: -4px -259px;
    width: 205px;
    height: 117px;
  }
  &.sprite-bus{
    background-position:  -44px -2px;
    width: 41px;
    height: 45px;
  }
  &.sprite-scooter{
    background-position: -56px -53px;
    width: 34px;
    height: 34px;
  }
  &.sprite-room{
    background-position: -55px -92px;
    width: 36px;
    height: 34px;       
  }
  &.sprite-people{
    background-position: -56px -137px;
    width: 12px;
    height: 12px;
  }
  &.sprite-car-small{
    background-position: -100px -8px;
    width: 41px;
    height: 27px;
  }
  &.sprite-car{
    background-position: -118px -59px;
    width: 91px;
    height: 59px;
  }
  &.sprite-room-staff{
    background-position: -156px -3px;
    width: 34px;
    height: 34px;
  }
  &.sprite-room-number{
    background-position: -226px -3px;
    width: 51px;
    height: 51px;
  }
  &.sprite-car-red{
    background-position: -251px -108px;
    width: 35px;
    height: 35px;
  }
  &.sprite-option-mall{
    background-position: -55px -178px;
    width: 59px;
    height: 61px;
  }
  &.sprite-option{
    background-position: -231px -168px;
    width: 58px;
    height: 61px;
  }
  &.sprite-wommen{
    background-position: -101px -130px;
    width: 12px;
    height: 12px;
  }
  &.sprite-people_1{
    background-position: -73px -148px;
    width: 24px;
    height: 24px;
  }
}
